@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #add8e6;
  color: #000;
}

nav {
  background: #fff;
  padding: 20px 20px 10px 20px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0 5px;
}

.text-center {
  text-align: center;
}

h3 {
  margin: 10px 0;
}

.mtb-20px {
  margin: 20px 0;
}

.container {
  width: 80%;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-box {
  padding: 2px;
}

/* Mystery Container*/
.mystery-container {
  background: green;
}
